.col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wrapper {
    margin: 0 auto;
    padding: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

textarea::placeholder {
    font-size: 16px;
    opacity: 0.7;
}

button {
    width: 100px;
    background-color: rgb(240, 70, 70);
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.message-box {
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section {
    width: 100%;
    display: flex;
    flex-wrap: none;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    width: 70%;
    resize: none;
    border: none;
    outline: none;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.black{
    background-color: pink;
     text-align: end;
}

.green{
    background-color: yellow;
    text-align: start;
}
